        html {
            background-color: black;
        }
        
        a {
            text-decoration: none;
            color: white;
        }
        
        h1 {
            color: white;
        }
        
        p {
            color: white;
        }
        
        nav {
            display: grid;
            grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
            text-align: center;
            background-color: gray;
            width: 99vw;
            height: 1.5vw;
            padding: 0.5vw;
            font-size: large;
            font-weight: bold;
        }
        
        .Logika {
            padding-top: 350px;
            padding-left: 350px;
        }
